<h1>{{currentClass.name}}</h1>

<h2>Class Features</h2>
<p>As a {{currentClass.name}} you have the following features</p>

<h3>Hit Points</h3>
<p><strong>Hit Dice:</strong> {{currentClass.hit_dice}} per {{currentClass.name}} level</p>
<p><strong>Hit Pionts at 1st Level:</strong> {{currentClass.hp_at_1st_level}}</p>
<p><strong>Hit Points at Higher Levels:</strong> {{currentClass.hp_at_higher_levels}}</p>

<h3>Proficiencies</h3>
<p><strong>Armor: </strong>{{currentClass.prof_armor}}</p>
<p><strong>Weapons: </strong>{{currentClass.prof_weapons}}</p>
<p><strong>Tools: </strong>{{currentClass.prof_tools}}</p>
<p><strong>Saving Throws: </strong>{{currentClass.prof_saving_throws}}</p>
<p><strong>Skills: </strong>{{currentClass.prof_skills}}</p>

<h3>Equipment</h3>
<ul>
    <div *ngFor="let item of equipment">
        <li *ngIf="item.listItem">{{item.listItem}}</li>
    </div>
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th *ngFor="let col of table[0].tableHead" class="col">{{col}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of table[0].tableRow">
            <td *ngFor="let col of row">{{col}}</td>
        </tr>
    </tbody>
</table>

<div *ngFor="let line of this.desc">
    <h3 *ngIf="line.fourHead"><strong>{{line.fourHead}}</strong></h3>
    <h4 *ngIf="line.threeHead"><strong>{{line.threeHead}}</strong></h4>
    <p *ngIf="line.body">
        <span><strong>{{line.bold}}</strong></span>
        {{line.body}}
    </p>
    <li *ngIf="line.listItem">{{line.listItem}}</li>

    <table class="table table-striped" *ngIf="line.tableHead[0]">
        <thead *ngIf="line.tableHead[0]">
            <tr *ngIf="line.tableHead[0]">
                <th *ngFor="let col of line.tableHead" class="col">{{col}}</th>
            </tr>
        </thead>
        <tbody *ngIf="line.tableHead[0]">
            <tr *ngFor="let row of line.tableRow">
                <td *ngFor="let col of row">{{col}}</td>
            </tr>
        </tbody>
    </table>

</div>



