
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <!-- @Scott: I am using mat-menu for the dropdown menu fuctionality. If you know a better way feel free to change it.-->
          <button mat-button [matMenuTriggerFor]="spells" class="button1">Spells</button>
          <mat-menu #spells="matMenu">
            <button mat-menu-item [routerLink]="['spells']" [state]="{index: 'bard', name: 'Bard', url: '/api/classes/bard'}" class="nav">Bard Spells</button>
            <button mat-menu-item [routerLink]="['spells']" [state]="{index: 'cleric', name: 'Cleric', url: '/api/classes/cleric'}" class="nav">Cleric Spells</button>
            <button mat-menu-item [routerLink]="['spells']" [state]="{index: 'druid', name: 'Druid', url: '/api/classes/druid'}"class="nav">Druid Spells</button>
            <button mat-menu-item [routerLink]="['spells']" [state]="{index: 'paladin', name: 'Paladin', url: '/api/classes/paladin'}"class="nav">Paladin Spells</button>
            <button mat-menu-item [routerLink]="['spells']" [state]="{index: 'ranger', name: 'Ranger', url: '/api/classes/ranger'}"class="nav">Ranger Spells</button>
            <button mat-menu-item [routerLink]="['spells']" [state]="{index: 'sorcerer', name: 'Sorcerer',url: '/api/classes/sorcerer'}"class="nav">Sorcerer Spells</button>
            <button mat-menu-item [routerLink]="['spells']" [state]="{index: 'warlock', name: 'Warlock', url: '/api/classes/warlock'}"class="nav">Warlock Spells</button>
            <button mat-menu-item [routerLink]="['spells']" [state]="{index: 'wizard', name: 'Wizard', url: '/api/classes/wizard'}"class="nav">Wizard Spells</button>
          </mat-menu>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="classes" class="button1">Classes</button>
          <mat-menu #classes="matMenu">
            <button mat-menu-item *ngFor="let c of appComponent.classes" [routerLink]="['/class']" [queryParams]="c" class="nav">{{c.name}}</button>
          </mat-menu>
        </li>
        
        
        
      </ul>
      <form class="d-flex nav-buttons">
        <button *ngIf="!this.appComponent.isLoggedIn" routerLink="register" class="btn btn-primary button">Register</button>
        <button *ngIf="!this.appComponent.isLoggedIn" routerLink="login" class="btn btn-secondary button">Log In</button>
        <button *ngIf="this.appComponent.isLoggedIn" (click)="logOut()" class="btn btn-secondary button">Log Out</button>
      </form>
    </div>
  </div>
</nav>
