@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Shrikhand&display=swap');

.text{
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    color: rgb(197, 43, 43);
}

.button {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(166, 55, 55);
}

.color{
    background-color: rgb(237, 208, 120);
    border-radius: 15px;
}

.button1{
    font-family: 'Shrikhand', cursive;
    margin: 5px;
    color: darkred;
    background-color: gold;
}

.nav{
    font-family: 'Josefin Sans', sans-serif;
    color: darkred;
    background-color:gold;
}

.campaigns-nav {
    margin-left: 12px;
}








