
<div class="container my-auto">
  <div class="card border-0 mx-auto my-card">
      <div class="shadow-lg">
        <div>

          <div>
              <h2 class="card-header text-center">{{title}}</h2>
          </div>
      
          <div class="card-body">
              
              <form>
                  
                <!-- In order to enable ngModel (2 way data binding a.k.a banana box) you MUST go to the GLUE of your application
                    app.module.ts and import the FormsModule-->
                  <div class="col-md-6 mb-3 mx-auto">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="inputUsername">
                  </div>
                  <div class="col-md-6 mb-3 mx-auto">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input [(ngModel)]="user.email" name="email" type="email" class="form-control" id="inputEmail">
                  </div>
                  <div class="col-md-6 mb-3 mx-auto">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="inputPassword">
                  </div>
                  <div class="col-md-6 mb-3 mx-auto">
                    <label for="inputPassword2" class="form-label">Re-enter Password</label>
                    <input name="email" [(ngModel)]="confirmPassword" type="password" class="form-control" id="inputPassword2">
                  </div>
                  
                  
                  <div class="col-md-6 mb-3 mx-auto">
                      <button type="submit" class="btn-primary btn" (click)="registerUser()">Register</button>
                  </div>
      
                  <!-- If there is a message, show it -->
                  <div *ngIf="clientMessage.message.length > 0" class="alert alert-secondary" role="alert">
                      {{clientMessage.message}}
                  </div>
      
              </form>
          </div>
      
      </div>
      </div>
  </div>
</div>

<ol>
  <li>
    <mat-form-field appearance="fill">
      <mat-label>What's your name?</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>

