<div class="container">
    <div class="card border-0 my-auto w-100">
        <div class="shadow-lg">
            <div class="spell">
                <h3>{{ spell.name }}</h3>
                <p>{{spell.level}} {{spell.school}} | {{spell.dnd_class}}</p>
                <p><strong>Range: </strong>{{spell.range}}</p>
                <p><strong>Casting Time: </strong>{{spell.casting_time}}</p>
                <p><strong>Duration: </strong>{{spell.duration}}</p>
                <p><strong>Components: </strong>{{spell.components}}</p>
                <p>{{spell.desc}}</p>
                <p *ngIf="spell.higher_level"><strong>At higher levels: </strong>{{spell.higher_level}}</p>
            </div>
        </div>
    </div>
</div>
<br>