<div>

    <div>
      <h2 class="card-header text-center">{{title}}</h2>
    </div>
    <div class="input-group">
      <div class="form-outline">
        <input (keyup)="filterSpells()" [(ngModel)]="search" type="search" id="form1" class="form-control" placeholder="Search"/>
      </div>
    </div>
  
    <div class="card-body">
      <app-spell *ngFor="let spell of filteredSpells" [spell]="spell"></app-spell>
      <!-- IF there are no users, display the client message -->
      <div *ngIf="filteredSpells.length == 0">
  
          {{clientMessage.message}}
  
      </div>
  
    </div>
  </div>