.input-group {
    margin-top: .5rem;
    margin-right: 5px;
}

.img {
    background-color:burlywood;
}

.font {
    font-family: 'Shrikhand', cursive;
    color: darkred;
    font-size: 25px;
}

.font1{
    font-family: 'Josefin Sans', sans-serif;
    color: saddlebrown;
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
}

.font2{
    font-family: 'Shrikhand', cursive;
    color: saddlebrown;
    font-size: 20px;
    margin: 3px;
}
