
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto:wght@400;500;700&family=Ubuntu:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
}

.home-container {

    background-image: url('../../../assets/dnd-background.jpeg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#home-grid-container {
    display: grid;
    grid-template-columns: 400px auto 400px;
}

#home-left-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.home-center-title {
    height: 400px;
    width: 500px;
    background: rgba(95, 92, 92, 0.9);
    margin: 0 auto;
    align-self: center;
    color: white;
    text-align: center;

}

.home-center-title h2{
    font-family: Ubuntu;
}

.home-center-title h1 {
    font-family: 'Kalam', cursive;
    margin-top: 10%;
    margin-bottom: 20%;
}

/* Styling Character Card */
/* .character-card {
    height: 100%;
    width: 100%;

    border-radius: 5%;
} */

.card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2em;
    font-family: Ubuntu;
    border-radius: 25px;
    color: white;
    line-height: 25px;
    box-shadow: 5px 5px 10px #ccc;
    float: left;
  }

  .card.orange {
    background: linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
  }

  .card.purple {
    background:linear-gradient(135deg, #f02fc2 0%,#6094ea 100%);
  }

  .card h1 {
    line-height: 30px;
  }

.character-card h2 {
    text-decoration: none;
    color: white;
}

.character-card-link {

    min-height: 25%;
    width: 60%;
}

/* End of Styling Character Card */