.input-group {
    margin-top: .5rem;
    margin-right: 5px;
}

.img{
    background-image: url('../../../assets/fant-6.gif');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.font {
    font-family: 'Josefin Sans', sans-serif;
}

.border{
    background-color:burlywood;
    border: 3px solid saddlebrown;
    padding: 25px;
    min-height: 25%;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 150px;
    overflow: scroll;
    width: 1000px;
    height: 500px;
}

.font3 {
    font-family: 'Shrikhand', cursive;
    color:rgb(75, 37, 11);
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.font1{
    font-family: 'Josefin Sans', sans-serif;
    color: saddlebrown;
    text-decoration: none;
    font-size: 20px;
    line-height: 5vh;
}

.font2{
    font-family: 'Shrikhand', cursive;
    color: rgb(75, 37, 11);
    font-size: 30px;
    padding: 3px;
}

.table-design{
    font-family:'Josefin Sans', sans-serif;
}

.table-color{
    color:saddlebrown;
}

