<div class="img">
<div class="border">
<h1 class="font2">{{currentRace.name}}</h1>

<div *ngFor="let line of desc">
    <H2 class="font1">{{line.threeHead}}</H2>
    <p class="font1">{{line.body}}</p>
</div>
<div *ngFor="let line of ability">
    <p class="font1"><span><strong>{{line.bold}}</strong></span> {{line.body}}</p>
</div>
<div *ngFor="let line of speed">
    <p class="font1"><span><strong>{{line.bold}}</strong></span> {{line.body}}</p>
</div>
<div *ngFor="let line of vision">
    <p class="font1"><span><strong>{{line.bold}}</strong></span> {{line.body}}</p>
</div>
<div *ngFor="let line of age">
    <p class="font1"><span><strong>{{line.bold}}</strong></span> {{line.body}}</p>
</div>
<div *ngFor="let line of alignment">
    <p class="font1"><span><strong>{{line.bold}}</strong></span> {{line.body}}</p>
</div>
<div *ngFor="let line of size">
    <p class="font1"><span><strong>{{line.bold}}</strong></span> {{line.body}}</p>
</div>
<div *ngFor="let line of languages">
    <p class="font1"><span><strong>{{line.bold}}</strong></span> {{line.body}}</p>
</div>
<div class="table-color">
<div *ngFor="let line of traits" class="table-design">
    <p class="font1"><span><strong>{{line.bold}}</strong></span> {{line.body}}</p>
    <table class="table table-striped table-color">
        <thead>
            <tr>
                <th *ngFor="let col of line.tableHead" class="col">{{col}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of line.tableRow">
                <td *ngFor="let col of row">{{col}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
