
<form action="" class="char-create-form">
    <input class="formField" [(ngModel)]="char.charName" type="text" placeholder="Name" id="char-create-form-name" name="charName">
    <input class="formField" [(ngModel)]="char.race" type="text" id="char-create-form-race" placeholder="Race" name="race">
    <select class="formField" [(ngModel)]="char.charClass" name="charClass" id="char-create-form-class">
        <option value="Barbarian">Barbarian</option>
        <option value="Bard">Bard</option>
        <option value="Cleric">Cleric</option>
        <option value="Druid">Druid</option>
        <option value="Fighter">Fighter</option>
        <option value="Monk">Monk</option>
        <option value="Paladin">Paladin</option>
        <option value="Ranger">Ranger</option>
        <option value="Rogue">Rogue</option>
        <option value="Sorcerer">Sorcerer</option>
        <option value="Warlock">Warlock</option>
        <option value="Wizard">Wizard</option>

    </select>
    <div class="formField">
        <label for="strength">Strength (between 3 and 20):</label>
        <input type="number" [(ngModel)]="char.strength" [value]="strengthAmt" 
        (input)="strengthAmt=getStrengthValue($event)" id="strength" name="strength" min="3" max="20">
        <div *ngIf="strengthMessage.message.length" class="alert alert-danger" role="alert">
            {{strengthMessage.message}}
        </div>
    </div>
    <div class="formField">
        <label for="dexterity">Dexterity (between 3 and 20):</label>
        <input type="number" [(ngModel)]="char.dexterity" [value]="dexterityAmt" 
        (input)="dexterityAmt=getDexterityValue($event)" id="dexterity" name="dexterity" min="3" max="20">
        <div *ngIf="dexterityMessage.message.length" class="alert alert-danger" role="alert">
            {{dexterityMessage.message}}
        </div>
    </div>
    <div class="formField">
        <label for="constitution">Constitution (between 3 and 20):</label>
        <input type="number" [(ngModel)]="char.constitution" [value]="constitutionAmt" 
        (input)="constitutionAmt=getConstitutionValue($event)" id="constitution" name="constitution" min="3" max="20">
        <div *ngIf="constitutionMessage.message.length" class="alert alert-danger" role="alert">
            {{constitutionMessage.message}}
        </div>
    </div>
    <div class="formField">
        <label for="intelligence">Intelligence (between 3 and 20):</label>
        <input type="number" [(ngModel)]="char.intelligence" [value]="intelligenceAmt" 
        (input)="intelligenceAmt=getIntelligenceValue($event)" id="intelligence" name="intelligence" min="3" max="20">
        <div *ngIf="intelligenceMessage.message.length" class="alert alert-danger" role="alert">
            {{intelligenceMessage.message}}
        </div>
    </div>
    <div class="formField">
        <label for="wisdom">Wisdom (between 3 and 20):</label>
        <input type="number" [(ngModel)]="char.wisdom" [value]="wisdomAmt" 
        (input)="wisdomAmt=getWisdomValue($event)" id="wisdom" name="wisdom" min="3" max="20">
        <div *ngIf="wisdomMessage.message.length" class="alert alert-danger" role="alert">
            {{wisdomMessage.message}}
        </div>
    </div>
    <div class="formField">
        <label for="charisma">Charisma (between 3 and 20):</label>
        <input type="number" [value]="charismaAmt" [(ngModel)]="char.charisma"
        (input)="charismaAmt=getCharismaValue($event)" id="charisma" name="charisma" min="3" max="20">
        <div *ngIf="charismaMessage.message.length" class="alert alert-danger" role="alert">
            {{charismaMessage.message}}
        </div>
    </div>
    <div class="formField">
        <p>Characters can add Equipment and Spells by viewing their character after creation</p>
    </div>
    <input class="formField" type="submit" (click)="createCharacter()" value="Submit">

    <div *ngIf="clientMessage.message.length > 0" class="alert alert-secondary" role="alert">
        {{clientMessage.message}}
    </div>
    
    
    
    
    
</form>
