@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Shrikhand&display=swap');

body {
    margin: 0;
    padding: 0;
}

.mat-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.new-char-name-input {
    font-size: 10px;
}

.new-char-form-field {
  width: 50%;

}

.new-char-attr-item {
    width: 50%;
    /* background: pink; */
    background-color: rgb(116, 171, 116);
    border-radius: 10%;
}

.new-char-input {
    margin-top: 10%;
}



.new-char-attr-item input {
    width: 50%;
}

.new-char-attr-heading {
    grid-column: 1/7;
    grid-row: 1/2;
    
}

.new-char-attr-heading h1 {
    font-weight: 700;
    font-size: 2rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 0 3em 0 3em;
}

.button {
  font-family: 'Josefin Sans', sans-serif;;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(54, 117, 70);
  background-color: rgb(126, 228, 172);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(28, 121, 82);
  margin: 5px;
}

.button:hover {background-color: rgb(32, 152, 28)}

.button:active {
  background-color: rgb(23, 80, 46);
  box-shadow: 0 5px rgb(41, 221, 95);
  transform: translateY(4px);
}

.img{
  background-image: url('../../../assets/fant-1.gif');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

h1{
  font-family: 'Shrikhand', cursive;
  color:rgb(167, 236, 163);
  font-size: 50px;
  padding: 5px;
}

.border{
  background-color: rgb(120, 177, 120);
  border-radius: 15px;
  text-align: center;
  padding: 25px;
  min-height: 25%;
  margin-left: 250px;
  margin-right: 250px;
  
}

.new-char-input {
  font-size: 1.25rem;
  width: 50%;
  text-align: center;

}




.a{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 25px;
  line-height: 25px;
  box-shadow: 5px 5px 10px gray;
  float: center;
}

.t {
  font-family: 'Josefin Sans', sans-serif;
  color:rgb(23, 80, 46);
  font-size: 20px;
}

.new-char-options {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.new-char-attr-grid {
    display: grid;
    width: 100%;
    height: 30em;
    align-self: flex-start;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 10% 40% 5%;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 2px;
}



.dice-button {
    padding: 10%;
    margin: 0;
    margin-top: 15%;
    background-color: rgb(126, 228, 172);
    width: 40%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.dice-button:hover {
    background-color: rgb(32, 152, 28);
    color: white;

}

#char-create-form-class, #char-create-form-race {
    width: 150px;
}

.img{
    background-image: url('../../../assets/fant-8.gif');
  
    background-repeat: no-repeat;
    background-size: cover;
}

.border{
    border: 5px solid gold;
    background-color: darkred;
    border-radius: 15px;
    padding: 25px;
    min-height: 25%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.a{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 25px;
    line-height: 25px;
    box-shadow: 5px 5px 10px rgb(168, 63, 63);
    float: center;
}

img{
    float: right;
}

.home-center-title {
    height: 400px;
    width: 500px;
    margin: 0 auto;
    align-self: center;
    color: gold;
    text-align: center;
}

.table-back{
    background-color: gold;
}

.info{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: gold;
}

.info2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: gold;
    margin-right: 10px;
}

.info3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: gold;
}

.button {
  font-family: 'Josefin Sans', sans-serif;;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: darkred;
  background-color: gold;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(218, 61, 61);
  margin: 5px;
}

.button:hover {background-color: goldenrod}

.button:active {
  background-color: rgb(232, 190, 93);
  box-shadow: 0 5px rgb(84, 11, 11);
  transform: translateY(4px);
}
::ng-deep .new-char-form-field-name {
    font-size: 10px;
}

.create-char-button-wrapper {
    grid-column: 2 / 6;
    grid-row: 3/4;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
}
