<div class="img">
    <div class="a">
    <div class="border">
    <label for="charName" class="info">Name:</label>
  <h1 mat-dialog-title class="h1">Create a Character!</h1>
  <div mat-dialog-content class="mat-form-container">
    <mat-form-field class="new-char-form-field new-char-form-field-name" appearance="fill">
        <mat-label for="input-char-name" class="form-label t new-char-form-field-name-label">Name</mat-label>
        
        <input matInput  [(ngModel)]="char.charName" name="charName" type="text" class="form-control new-char-input t" id="input-char-name" placeholder="Name"/>
        
    </mat-form-field>
    
    <!--            RACES AND CLASS SHOULD GO HERE -->
    <div class="new-char-options">
        <mat-form-field appearance="fill">
            <mat-label class="info3">Choose a Race</mat-label>
            <mat-select [(ngModel)]="char.race" name="charRace">
                <mat-option value="Dwarf">Dwarf</mat-option>
                <mat-option value="Elf">Elf</mat-option>
                <mat-option value="Halfling">Halfling</mat-option>
                <mat-option value="Human">Human</mat-option>
                <mat-option value="Dragonborn">Dragonborn</mat-option>
                <mat-option value="Gnome">Gnome</mat-option>
                <mat-option value="Half-Elf">Half-Elf</mat-option>
                <mat-option value="Half-Orc">Half-Orc</mat-option>
                <mat-option value="Tiefling">Tiefling</mat-option>
    
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label class="info3">Select a Class</mat-label>
            <mat-select [(ngModel)]="char.charClass" name="charClass">
                <mat-option value="Barbarian">Barbarian</mat-option>
              <mat-option value="Bard">Bard</mat-option>
              <mat-option value="Cleric">Cleric</mat-option>
              <mat-option value="Druid">Druid</mat-option>
              <mat-option value="Fighter">Fighter</mat-option>
              
              <mat-option value="Monk">Monk</mat-option>
              <mat-option value="Paladin">Paladin</mat-option>
              <mat-option value="Ranger">Ranger</mat-option>
              <mat-option value="Rogue">Rogue</mat-option>
              <mat-option value="Sorcerer">Sorcerer</mat-option>
              <mat-option value="Warlock">Warlock</mat-option>
              <mat-option value="Wizard">Wizard</mat-option>
    
            </mat-select>
          </mat-form-field>
    </div>
    
    <div class="new-char-attr-grid">
        <div class="new-char-attr-heading t"><h1>Roll for your Attributes!</h1></div>
      <mat-form-field class="new-char-attr-item" appearance="fill">
        
        <mat-label for="inputEmail" class="form-label t">Strength </mat-label>
        
        <input matInput [(ngModel)]="char.strength"  [value]="strengthAmt" name="strength" type="number" min="3" max="20" class="form-control new-char-input" [disabled]="true" size="4"/>

            <button (click)="diceRollStrength()" mat-icon-button color="primary" class="dice-button" aria-label="Example icon button with a dice icon">
                <mat-icon>casino</mat-icon>
            </button>

        
    </mat-form-field>

    <mat-form-field class="new-char-attr-item" appearance="fill">
        
        <mat-label for="inputEmail" class="form-label t">Dexterity </mat-label>
        
        <input matInput [(ngModel)]="char.dexterity"  [value]="dexterityAmt" name="dexterity" class="form-control new-char-input" min="3" max="20" type="number" [disabled]="true"/>
        <button (click)="diceRollDexterity()" mat-icon-button color="primary" class="dice-button" aria-label="Example icon button with a dice icon">
            <mat-icon>casino</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="new-char-attr-item" appearance="fill">
        
        <mat-label for="inputEmail" class="form-label t">Constitution </mat-label>
        
        <input matInput [(ngModel)]="char.constitution"  name="constitution" class="form-control new-char-input" min="3" max="20" [value]="constitutionAmt" type="number" [disabled]="true"/>
        <button (click)="diceRollConstitution()" mat-icon-button color="primary" class="dice-button" aria-label="Example icon button with a dice icon">
            <mat-icon>casino</mat-icon>
        </button>
    </mat-form-field>    
    <mat-form-field class="new-char-attr-item" appearance="fill">
        
        <mat-label for="inputEmail" class="form-label t">Intelligence </mat-label>
        
        <input matInput [(ngModel)]="char.intelligence" [value]="intelligenceAmt" name="intelligence" class="form-control new-char-input" min="3" max="20" type="number" [disabled]="true"/>
        <button (click)="diceRollIntelligence()" mat-icon-button color="primary" class="dice-button" aria-label="Example icon button with a dice icon">
            <mat-icon>casino</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="new-char-attr-item" appearance="fill">
        
        <mat-label for="inputEmail" class="form-label t">Wisdom </mat-label>
        
        <input matInput [(ngModel)]="char.wisdom" [value]="wisdomAmt" name="wisdom" class="form-control new-char-input" min="3" max="20" type="number" [disabled]="true"/>
        <button (click)="diceRollWisdom()" mat-icon-button color="primary" class="dice-button" aria-label="Example icon button with a dice icon">
            <mat-icon>casino</mat-icon>
        </button>
    </mat-form-field>      
    <mat-form-field class="new-char-attr-item" appearance="fill">
        
        <mat-label for="inputEmail" class="form-label t">Charisma </mat-label>
        
        <input matInput [(ngModel)]="char.charisma" [value]="charismaAmt" name="charisma" class="form-control new-char-input" min="3" max="20" type="number" [disabled]="true"/>
        <button (click)="diceRollCharisma()" mat-icon-button color="primary" class="dice-button" aria-label="Example icon button with a dice icon">
            <mat-icon>casino</mat-icon>
        </button>
    </mat-form-field>
    <div class="create-char-button-wrapper">
        <div *ngIf="clientMessage.message.length > 0" class="alert alert-secondary button" role="alert">
            {{clientMessage.message}}
        </div>
        <div mat-dialog-actions class="buttons-container">
            <button mat-button (click)="createCharacter()" cdkFocusInitial class="button">It's Slaying Time!</button>
            
          </div>
    </div>
    
</div>
<!-- If there is a message, show it -->
        
</div>
    
    

    

