<div class="img">
  <div class="a">
  <div class="border">
<h1 mat-dialog-title class="h1">Register for Adventure Here!</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <label for="inputUsername" class="form-label t">Username</label>
    <br />
        <input matInput [(ngModel)]="user.username" name="username" type="text" class="form-control" id="inputUsername">
        <br>

        <br />
        <label for="inputEmail" class="form-label t">Email</label>
        <br>
        <input matInput [(ngModel)]="user.email" name="email" type="email" class="form-control" id="inputEmail">
        <br>

        <br />
        <label for="inputPassword" class="form-label t">Password</label>
        <br>
        <input matInput [(ngModel)]="user.pwd" name="password" type="password" class="form-control" id="inputPassword">
        <br>

        <br />
        <label for="inputPassword2" class="form-label t">Re-enter Password</label>
        <br>
        <input matInput name="email" [(ngModel)]="confirmPassword" type="password" class="form-control" id="inputPassword2">
  </mat-form-field>



  <br />
  <div mat-dialog-actions>
    <button mat-button routerLink="/" class="button">No Adventuring for Me!</button>
    <button mat-button (click)="registerUser()" cdkFocusInitial class="button">It's Slaying Time!</button>
    
  </div>
  <!-- If there is a message, show it -->
  <div *ngIf="clientMessage.message.length > 0" class="alert alert-secondary" role="alert">
    {{clientMessage.message}}
</div>
</div>

