

<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <label for="loginInputUsername" class="form-label">Username</label>
    <input matInput [(ngModel)]="username" name="username" type="text" class="form-control" id="loginInputUsername">
    <label for="loginInputPassword" class="form-label">Password</label>
    <input matInput [(ngModel)]="password" name="password" type="password" class="form-control" id="loginInputPassword">
  </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onClick()" cdkFocusInitial>Ok</button>
  </div>

