.my-card {
    margin-top: 12.5%;
    
}

.table-row {
    vertical-align: middle;
}

.camp-cell:hover {
    background-color: #212529;
}

@media (min-width: 1000px) {
    .my-card {
        width: 50%;
    }
}