.my-card {
    margin-top: 12.5%;
    
}

.table-row {
    vertical-align: middle;
}

.camp-cell:hover {
    background-color: #212529;
}

@media (min-width: 1000px) {
    .my-card {
        width: 50%;
    }
}

.img{
    background-image: url('../../../assets/fant-7.gif');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.border{
    border: 5px solid gold;
    background-color: darkred;
    border-radius: 15px;
    text-align: center;
    padding: 25px;
    min-height: 25%;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 150px;
}
.a{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 25px;
    line-height: 25px;
    box-shadow: 5px 5px 10px rgb(168, 63, 63);
    float: center;
}
.h1{
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
    color: gold;
    margin: 25px;
    line-height: 8vh;
    border-radius: 15px;
}

.name{
    font-family: 'Josefin Sans', sans-serif;
    color:gold;
}

.button {
    font-family: 'Josefin Sans', sans-serif;;
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: darkred;
    background-color: gold;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(218, 61, 61);
    margin: 5px;
  }
  
  .button:hover {background-color: goldenrod}
  
  .button:active {
    background-color: rgb(232, 190, 93);
    box-shadow: 0 5px rgb(84, 11, 11);
    transform: translateY(4px);
  }

.background{
    background-color: darkred;
    border-radius: 15px;
    padding-top: 0.5px;
}

  