
.character-sheet-grid {
    padding: 20px;
}

.character-sheet-container {
    width: 80%;
}


/*======================= GRID LAYOUT =======================*/

.character-sheet-grid {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 25px;
}

.name-container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.hitpoints-container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.attributes-container {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.proficiencies-languages-container {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.skills-table {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid-item {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}



/*======================= END OF GRID LAYOUT =======================*/

/*======================= CHARACER NAME Component =======================*/

#character-image {
    width: 80px;
}

.title {
    display: flex;
}

.description {
    width: 250px;

}

h2 {
    font-size: 16px;
}

.description {
    display: flex;
    flex-direction: column;
}

.race-class {
    display: flex;
    
}

#username {
    margin-right: 10px;
}

#race {
    margin-right: 10px;
}

.race-class h3 {
    font-size: 12px;
}

.level-heading h4 {
    font-size: 12px
}

.description div * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.description {
    align-items: flex-start;
    margin-left: 1em;
}

.name-container {
    display: flex;
    align-items: center;
    background-color: azure;
    width: 250px;
    height: 40%;
    border: 1px solid black;
}

/*======================= END CHARACTER NAME Component =======================*/

/*====================== ATTRIBUTE SCORES Component ======================== */

.attributes-container {
    display: flex;
    gap: 60px;
    /* padding-bottom: 1px;   If you change translateY() below, must also change this */
}

.attribute-container {
    width: 105px;
    height: 140px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    box-shadow: 5px 5px 2.5px #aaaaaa;
    border-radius: 2px;
}

.attribute-score {
    width: 75px;
      height: 60px;
      border: 1px solid black;
      background-color: white;
      box-shadow: 4px 6px 5px #aaaaaa;
      border-radius: 30px / 15px;
      display: flex;
      justify-content: center;
      margin-top: 20px;
}

.attribute-name {
    margin-top: 5px;
}

.attribute-name h3 {
    font-size: 10px;
    font-weight: bold;
}

.attribute-modifier-value {
    width: 80%;
    
}

.attribute-modifier-value h2 {
    font-size: 32px;
    text-align: center;
}

/*====================== END OF ATTRIBUTE SCORES Component ======================== */

/*====================== Hit Points Component ======================== */

.hitpoints-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
    justify-content: space-between;
    height: 90%;
}

.hitpoints-container h1, .hitpoints-container h2 {
    margin: 0;
}

.hitpoints-current {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

.hitpoints-max {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;


}

.hitpoints-top {
    display: flex;
    column-gap: 10px;
    width: 100%;
    justify-content: center;
}

.hitpoints-current h2, .hitpoints-max h2 {
    font-size: 14px;
}

.hitpoints-divider {
    font-size: 24px;
    align-self: flex-end;
}

.hitpoints-bottom {
    margin-top: 8px;
    text-align: center;
    width: 100%;
}

/*====================== END OF Hit Points Component ======================== */

/*=================PROFICIENCIES Component ======================== */

.proficiencies-languages-container {
    border: 1px solid black;
    height: 400px;
    overflow: scroll;
    width: 100%;
}

.proficiencies-languages-container .proficiences-languages-item *{
    margin: 5px 0;
    padding: 0 5px;
}

.proficiencies-languages-container hr {
    margin-left: 8px;
    margin-right: 8px; 
}


.proficiences-languages-item-header h2 {
    font-size: 14px;
}

.proficiences-languages-item {
    
    min-height: 40px;
    
}

/*====================== END OF PROFICIENCIES Component ======================== */

/*============================== SKILLS Component ======================== */

/* .skills-table, .skills-table th, .skills-table td {
    border: 1px solid black;
} */

#skills-table-heading th {
    font-size: 10px;
}

.skills-table-skill {
    font-size: 12px;
}

.skills-table-modifier {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

/*====================== END OF SKILLS Component ======================== */

.char-sheet-add-icon {
    font-size: 20px;
    
}

.char-sheet-add-spells {
    border: none;
    margin: 0 auto;
}

.char-sheet-add-row {
    display: flex;
}

.char-sheet-check-icon {
    border: none;
    font-size: 16px;
}

.char-sheet-x-icon {
    border: none;
    font-size: 16px;
    
}

.char-sheet-add-spells-confirm {
    background: greenyellow;
    
}

.char-sheet-add-spells-cancel {
    background: crimson;
    color: white;
}

.attribute-number-field {
    width: 40px;
    border: none;
    height: 30px;
    outline: none;
    text-align: center;
    transform: translateX(8px);
    border-radius: 50px;
}

.img {
    background-image: url('../../../assets/fant-2.gif');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family:'Josefin Sans', sans-serif;
    font-size: 15px;
    color: gold;
}

.border{
    border: 5px solid gold;
    background-color: darkred;
    border-radius: 15px;
    text-align: center;
    padding: 25px;
    min-height: 25%;
    margin-left: 250px;
    margin-right: 250px;
    
}

.a{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 25px;
    line-height: 25px;
    box-shadow: 5px 5px 10px gray;
    float: center;
}